@import "../../modules/_base.scss";
/* Footer Menu */
.f-menu{
    @extend .g-container;
}
.f-menu__list{
    @extend .g-clearlist;
    border-top:1px solid #486581;
    font-size:0;
    text-align:center;

    @include media($tablet){
        float:left;
        text-align:left;
    }
}
.f-menu__item{
    display:inline-block;
    @include font-size(11px);
    font-family:$font-regular;
    position:relative;

    @include media($tablet){
        &:before{
            content:'|';
            @include font-size(10px);
            position:absolute;
            left:0;
            top:50%;
            margin-top:-5px;
        }

        &:first-child{
            &:before{
                display:none;
            }
            .f-menu__link{
                padding-left:0;
            }
        }

        &:last-child{
            .f-menu__link{
                padding-right:15px;
            }
        }
    }
}

.f-menu__link{
    display:block;
    padding:23px 10px;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;

    &:hover,
    &:active,
    &.current{
        color:$primary-alt;
    }
    &.current{
        cursor:default;
    }

    @include media($desktop){
        padding:23px;
    }
}