@import "../../modules/_base.scss";
/*Pagination*/
.b-pagination{
    margin-bottom:30px;
    font-size:0;
}
.b-pagination__item{
    display:inline-block;
    height:30px;
    line-height:30px;
    width:35px;
    @include font-size(12px);
    font-family:$font-medium;
    color:#fff;
    text-decoration:none;
    text-align:center;
    background:$primary;

    &:hover,
    &:active{
        background:darken($primary, 5%);
    }

    &.current{
        background:darken($primary, 5%);
        cursor:default;
    }
}
.b-pagination__item--prev{
    width:30px;
    margin-right:2px;
    border-top-left-radius:$border-radius;
    border-bottom-left-radius:$border-radius;
}
.b-pagination__item--next{
    width:30px;
    margin-left:2px;
    border-top-right-radius:$border-radius;
    border-bottom-right-radius:$border-radius;
}