@import "../../modules/_base.scss";
/*Sidebar Fabricators List*/
.b-fabricator{
    @extend .b-category;
}
.b-fabricator__title{
    @extend .b-category__title;
}
.b-fabricator__name{
    @extend .b-category__name;
}
.b-fabricator__list{
    @extend .b-category__list;
    padding:4px 0;
}
.b-fabricator__item{
    padding:4px 10px;

    @include media($large){
        padding:4px 22px;
    }

    @include media($mobile){
        display:inline-block;
    }

    @include media($desktop){
        display:block;
    }
}

.b-fabricator__link{
    text-decoration:none;
    color:$text-color-dark;
    @include font-size(14px);

    &:hover,
    &:active{
        color:$primary;
    }
    &.current{
        color:$primary;
        cursor:default;
    }
}