@import "../../modules/_base.scss";
/*Sidebar News Block*/
.b-news{
    @extend .b-vote;
}
.b-news__title{
    @extend .b-category__title;
}
.b-news__name{
    @extend .b-category__name;
}
.b-news__inner{
    border-left:1px solid $primary;
    border-bottom:1px solid $primary;
    border-right:1px solid $primary;
    border-bottom-left-radius:$border-radius;
    border-bottom-right-radius:$border-radius;
}
.b-news__list{
    @extend .g-clearlist;
}
.b-news__item{
    display:block;
    padding:9px 10px 7px;
    position:relative;
    
    &:before{
        content:'';
        display:block;
        position:absolute;
        top:0; left:6px; right:6px;
        height:2px;
        background:url(../img/border-h.png) center center repeat-x; 
    }

    @include media($large){
        padding:9px 22px 7px;
    }

    &:first-child{
        padding-top:7px;
        &:before{
            display:none;
        }
    }
}
.b-news__link{
    display:block;
    text-decoration:none;
    color:#000;
    @include font-size(12px);
    line-height:1.25;

    &:hover,
    &:active{
        color:$primary;
    }
}