@import "../../modules/_base.scss";
/*Checkout Block (Order, step 2)*/
.b-checkout{
    @include font-size(12px);
    color:$title-color;
    .g-label{
        color:$primary;
    }
    
    .css-radio-label{
        margin-left:15px;
        @include font-size(12px);
    }
}

.b-checkout__caption{
    margin:0 0 15px 15px;
    margin-left:15px;
    font-family:$font-bold;
    @include font-size(12px);
    color:$title-color;
}
.b-checkout__title{
    font-family:$font-bold;
    color:$primary;
    @include font-size(14px);
}
.b-checkout__table{
    @extend .g-full-width;

    td{
        padding:6px 0;
    }
}