@import "../../modules/_base.scss";
/*Product Filter*/
.b-filter{
    @include font-size(12px);
}

.b-filter__row{
    @extend .g-row;
    padding-top:8px;
    border-top:1px solid $border-color;
}

.b-filter__label{
    display:block;
    height:30px;
    line-height:30px;
    @include font-size(12px);
    color:$primary;
}
.b-filter__select{
    @extend .g-select;
    height:30px;
    margin-bottom:8px;
    @include font-size(12px);
    color:$title-color;
}

@include media($tablet){
    .b-filter__label,
    .b-filter__select{
        float:left;
    }
    .b-filter__select{
        width:auto;
        margin:0 15px 8px 5px;
    }
}

.b-filter__list{
    list-style-type:none;
    padding:8px 0;
    margin:0;
    border-top:1px solid $border-color;
}
.b-filter__item{
    display:block;
    margin:8px 0;
    @include font-size(14px);

    @include media($mobile){
        display:inline-block;
        margin-right:5px;
        margin:4px 5px 4px 0;
    }
}
.b-filter__link{
    text-decoration:none;
    color:$title-color;

    &:hover,
    &:active{
        color:$primary;
    }
}