@import "../modules/_base.scss";
/*Page Grid*/
.page__inner{
    @extend .g-container;
    padding-top:25px;
    padding-bottom:25px;
}

.page__lcol,
.page__rcol,
.page__main{
    width:100%;
    float:left;
    min-height:1px;
    box-sizing:border-box;
}

.page__main{
    padding:0 10px;

    @include media($large){
        padding:0 30px;
    }
}

@include media($tablet){
    .page__lcol{
        width: 31.04%;
    }
    .page__main{
        width: 68.96%;
    }
}

@include media($desktop){
    .page__lcol,
    .page__rcol{
        width:23.077%;
    }
    .page__main{
        width: 53.846%;
    }
}

/*Page SEO Blocks*/
.p-title{
    display:block;
    margin:0;
    color:$text-color;
    @include font-size(12px);
    line-height:1.25;
    font-family:$font-medium;
    font-weight:400;
}
.page__description{
    margin:0 -10px 16px;
    @include font-size(12px);
    line-height:1.25;

    h1, h2, h3, h4, h5{
        @extend .p-title;
    }

    b, strong{
        font-family:$font-medium;
        font-weight:400;
    }

    @include media($tablet){
        margin:0 0 16px;
    }
}


@import "page/_breadcrumbs.scss";
@import "page/_slider.scss";//Слайдер на главной странице
@import "page/_promo-block.scss";//Промо-блоки (Акции, Товар дня, Лидеры продаж)
@import "page/_scroll-up.scss";//Кнопка скролла страницы



