@import "base";
/* Forms */

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    @include appearance(none);
}

.g-input,
.g-select,
.g-textarea{
    width:100%;
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius:$border-radius;
    color:$text-color-dark;
    box-shadow: none;
    box-sizing: border-box;
    @include font-size(14px);

    @include placeholder{
        color:$text-color;
        text-overflow:ellipsis;
    }

    &:hover,
    &:focus{
        border-color:$primary;
        outline:0;
    }
}

.g-input,
.g-select{
    @include px2rem(height, 36px);
    @include px2rem(padding, 0 8px);
}

.g-textarea{
    @include px2rem(min-height, $project-line-height*5);
    @include px2rem(padding, 6px 8px);
}

.g-label{
    display: block;
    @include px2rem(margin-bottom, $project-line-height/3);
    font-family:$font-regular;
    font-weight:400;
    color:$text-color-dark;
    @include font-size(14px);

    [class^="icon-"]:before, [class*=" icon-"]:before{
        color:$primary;
    }
}
.g-label__body{
    display: inline-block;
    @include px2rem(margin-left, $project-line-height/3);
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; }



/*Custom radio inputs*/
input[type=radio].css-radio {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

label.css-radio-label {
    display:inline-block;
    min-height:14px;
    margin-bottom:0;
    -webkit-touch-callout: none;
    @include user-select(none);
    color:$text-color-dark;
    @include font-size(14px);
}


input[type=radio].css-radio + label.css-radio-label {
	padding-left:24px;
	display:inline-block;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA2UExURQAAAACe7gCh8gCe7QCe7gCf8wCZ8gCe7gCe7wCe7gCd7wCe7wCe7gCe7gCd7QCe7gCe7QCf7RbPcDQAAAASdFJOUwD9E4FyFRTyq6JRT8/NU9CDghvJwfEAAABiSURBVAjXXY5XDsAgDEPNCA6rpfe/bAGVLv9YT45iA4C0QpZDMLWR0ftIpklG7fCgprNQcUkZ0GgXBjrsEbdiAf2Dnn8s7+OKg7JI+qtPUS9JRsPM1OTheY3MV72rZHVjzgklxwKtJxovWAAAAABJRU5ErkJggg==) left top no-repeat;
	vertical-align:middle;
	cursor:pointer;
}

input[type=radio].css-radio:checked + label.css-radio-label{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAqUExURQAAAACe7gCd8wCe7gCe7wCe7wCf8QCe7gCe7gCe7QCe7gCe7gCd8gCe7vU4ywgAAAANdFJOUwDzFGZRqyPOcoKi5RkC6J6AAAAAWUlEQVQI111PQQ7AMAgCrdU28f/fXethyyTxgBBEAJDlpC9BYZA7YpOjWFrtxfJwoQFTdQJGwTqjmUk9yoJvzLzgxHYwSjxQBDu9Zn7miuIb1Q61Gr3k74UHbNEDce4QuXEAAAAASUVORK5CYII=) left top no-repeat;
    color:$primary;
}
