@font-face {
	font-family:'GothamPro-Regular';
	src: url('../fonts/gotham/GothamPro_gdi.eot');
	src: url('../fonts/gotham/GothamPro_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham/GothamPro_gdi.woff') format('woff'),
		url('../fonts/gotham/GothamPro_gdi.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'GothamPro-Medium';
	src: url('../fonts/gotham/GothamPro-Medium_gdi.eot');
	src: url('../fonts/gotham/GothamPro-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham/GothamPro-Medium_gdi.woff') format('woff'),
		url('../fonts/gotham/GothamPro-Medium_gdi.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'GothamPro-Bold';
	src: url('../fonts/gotham/GothamPro-Bold_gdi.eot');
	src: url('../fonts/gotham/GothamPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham/GothamPro-Bold_gdi.woff') format('woff'),
		url('../fonts/gotham/GothamPro-Bold_gdi.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'GothamPro-Light';
	src: url('../fonts/gotham/GothamPro-Light_gdi.eot');
	src: url('../fonts/gotham/GothamPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/gotham/GothamPro-Light_gdi.woff') format('woff'),
		url('../fonts/gotham/GothamPro-Light_gdi.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'Panton-BlackitalicCaps';
	src: url('../fonts/panton/Panton-BlackitalicCaps_gdi.eot');
	src: url('../fonts/panton/Panton-BlackitalicCaps_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/panton/Panton-BlackitalicCaps_gdi.woff') format('woff'),
		url('../fonts/panton/Panton-BlackitalicCaps_gdi.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon/flaticon.eot");
	src: url("../fonts/flaticon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon/flaticon.woff") format("woff"),
	url("../fonts/flaticon/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
//margin-left: 20px;
}
.flaticon-basket37:before {
	content: "\e000";
}
.flaticon-find6:before {
	content: "\e001";
}